
.carousel-indicators li {
    background-color: #1d3152;
}
.nav-link.active {
    color: rgba(27, 27, 27, 0.65)!important;
}
.nav-link.active .nav-link-text {
    font-weight: bold;
}
.irs_pagination {
    margin-top: 40px!important;
    text-align: center;
}
.nav-link.active > i.fa {
    color: #172b4d!important;
}
.select2-dropdown.increasedzindexclass {
  z-index: 999999;
}

.bg-primary, .btn-primary {
    background: #172b4d!important;
    border-color: #172b4d!important;
}

#password-container {
    position: relative;
}
#password-container .toggle-password{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70;
    height: 50;
    cursor: pointer;
}
/* #password-container .toggle-password i{
    padding-top: 140;
    background-color: #172b4d;
} */
